name: FEX artifacts

on:
  schedule:
  - cron: '0 6 */3 * *'
  workflow_dispatch:

jobs:
  build-fex:
    runs-on: ubuntu-latest

    steps:
    - name: Clone FEX repo
      uses: actions/checkout@v4
      with:
        repository: FEX-Emu/FEX
        submodules: recursive
        path: FEX
      
    - name: Install llvm-mingw
      run: |
        sudo mkdir -p /opt
        curl -L -o llvm-mingw.tar.xz \
          https://github.com/bylaws/llvm-mingw/releases/download/20250305/llvm-mingw-20250305-ucrt-ubuntu-20.04-x86_64.tar.xz
        sudo tar -xvf llvm-mingw.tar.xz -C /opt/
        echo "PATH=/opt/llvm-mingw-20250305-ucrt-ubuntu-20.04-x86_64/bin:$PATH" >> $GITHUB_ENV

    - name: Build libarm64ecfex
      working-directory: FEX
      run: |
        mkdir -p build_ec
        cd build_ec
        cmake -DCMAKE_BUILD_TYPE=Release \
          -DENABLE_LTO=False \
          -DMINGW_TRIPLE=arm64ec-w64-mingw32 \
          -DENABLE_JEMALLOC_GLIBC_ALLOC=False \
          -DBUILD_TESTS=False ..
        make -j$(nproc) arm64ecfex

    - name: Build libwow64fex
      working-directory: FEX
      run: |
        mkdir -p build_pe
        cd build_pe
        cmake -DCMAKE_BUILD_TYPE=Release \
          -DENABLE_LTO=False \
          -DMINGW_TRIPLE=aarch64-w64-mingw32 \
          -DENABLE_JEMALLOC_GLIBC_ALLOC=False \
          -DBUILD_TESTS=False ..
        make -j$(nproc) wow64fex 

    - name: Package FEX DLLs
      working-directory: FEX
      run: |
        mkdir -p FEX-dll
        cp build_ec/Bin/libarm64ecfex.dll FEX-dll/
        cp build_pe/Bin/libwow64fex.dll FEX-dll/
        tar -cJvf fex-dlls.tar.xz -C FEX-dll .

    - name: Upload to Release
      if: success()
      uses: softprops/action-gh-release@v2
      with:
        tag_name: FEX-arm64ec
        files: FEX/fex-dlls.tar.xz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
